<div class='container'>
    <h2 class='text-center display-5 mt-4'>Connectez-vous</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmitForm()" *ngIf='!loading'>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <button type='submit' class="btn btn-primary" [disabled]="signupForm.invalid">Valider</button>
        <p class="text-danger" *ngIf='errorMsg'>{{ errorMsg }}</p>
    </form>
</div>
